.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: #ccc;
  overflow: hidden;
}

.myUl>li {
  width: 340px;
  height: 416px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 0 5px #aaa;
  transform-style: preserve-3d;
}

.myUl>li.active {
  transform: rotateY(180deg);
}

.myUl>li .zm img {
  width: 285px;
  height: 192px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 93px;
}

.myUl>li .zm {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateZ(1px);
}

.myUl>li .zm .textNode {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 24px;
  color: #4d55dd;
}


.myUl>li .bm {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateZ(-1px) scaleX(-1);
  text-align: center;
  margin-top: 50px;
}

.myOl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 38px;
  z-index: 100;
}

.myOl li {
  width: 14px;
  height: 14px;
  float: left;
  background-color: #007d77;
  margin: 0 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: .7s;
}

.myOl li.active {
  transform: scale(2) rotateY(180deg);
}

.myOl li.dbActive {
  transform: scale(2) rotateY(180deg);
  background-color: yellow;
}